* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(45deg, #190361 0%, #b0f 100%);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;

  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;

  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  background: #ffffff;
  box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  padding: 4.8rem 6.4rem 6.4rem;

  width: min(42.8rem, 90%);
  margin-top: -12rem;

  color: #34355b;
  text-align: center;
}

/* screen1 */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.screen1 p {
  margin-bottom: 2rem;
}
.shaking:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* screen2 */

.box {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: #e4edf1;

  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.5);

  animation: box 2s cubic-bezier(0.11, -0.14, 1, 1.12) forwards;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;

  margin-bottom: 3.3rem;
}

button {
  padding: 16px;
  border-radius: 4px;
  background: #ff9500;

  color: #fff;

  text-align: center;
  font-family: "DM Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.opened-cookie {
  padding: 4.3rem 0 4.3rem 0;
  margin: 1.7rem 0 1.7rem 0;
}

.hide {
  display: none;
}

/* keyframes */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes box {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 2;
  }
}
